/* Navigation styles */
nav a:focus {
    font: bold;
    color: #ffcb05;

}

nav {
    background-color: #00274c;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 115px;
    text-align: left;
}

header .logo {
    border-right: 1px solid white;
    height: 100px;
    position: absolute;
    left: 0px;
}

/* skip to the main content link styles */
.skip a {
    position: absolute;
    top: -65px;
    background: white;
    overflow: hidden;
    z-index: 1000;
}

.skip a:focus {
    top: 25px;
}

/*section 1*/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 390px;
    gap: 16px;
    margin: 24px auto;
}

.container>* {
    grid-column: 1/-1;
}

.container>.overview {
    grid-column: 1 / -1;
}

#section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section7,
#section8,
#section9 {
    grid-column: 1/-1;
}

iframe,
main img {
    grid-column: 1 / -1;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    padding-bottom: 24px;
}


.ResumeFAQ ul, .Alumni ul, .DataResource ul, .UX ul, .Library ul, .OtherResource ul {
    columns: 2;
    column-gap: 16px;
    padding-left: 0;
    list-style-position: inside;
}

footer {
    background-color: #00274c;
    padding: 30px 16px;
    text-align: center;
}